/* .navbar {
  width: 100vh;
} */

.navbar-mobile {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .navbar-mobile {
    display: none;
  }
  .fullscreen-navbar {
    display: flex;
    justify-content: space-between;
  }
}
