.description-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-main-heading {
  font-family: "Simplon Norm";
  font-size: 60px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: 1px;
  text-align: center;
  padding: 10px;
  padding-right: 15px;
  color: #252020;
}

.app-main-description {
  font-family: "Simplon Norm";
  font-size: 22px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  color: #252020;
}

.product-list-container {
  margin-left: 50px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: ; */
  gap: 30px;
}

.product-items {
  width: 168.75px;
  height: 277px;
  top: 309px;
  left: 0.13px;
  gap: 0px;
  opacity: 0px;
}
.product-image {
  width: 168px;
  height: 224px;
  top: 16px;
  gap: 0px;
  opacity: 0px;
}

.product-name {
  font-family: "Simplon Norm";
  font-size: 14px;
  font-weight: 700;
  line-height: 16.8px;
  text-align: left;
  width: 100px;
  gap: 25px;
}

.price-info {
  font-family: "Simplon Norm";
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  color: #888792;
  width: 100px;
}

.name-button-card {
  display: flex;
  gap: 15px;
}

.heart-btn {
  border: none;
  background-color: transparent;
}

.red-heart {
  color: #eb4c6b;
}

.full-screen-filter-card {
  display: none;
}
.mobile-filter-card {
  border: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.filter-button {
  width: 50%;
  border-right: 1px solid #e5e5e5;
  border-top: 0;
  border-left: 0;
  border-bottom: 0;
  height: 30px;
  background-color: transparent;
}

.mobile-recomended-dropbox {
  width: 50%;
  border-right: 1px solid #e5e5e5;
  border-top: 0;
  border-left: 0;
  border-bottom: 0;
  height: 30px;
  background-color: transparent;
  text-align: center;
}

.product-container {
  display: flex;
  margin-top: 25px;
}
@media screen and (min-width: 768px) {
  .mobile-filter-card {
    display: none;
  }
  /* .full-screen-filter-card {
    display: block;
  } */
  .custom-card {
    display: none;
  }
  .full-screen-filter-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hidden-card {
    display: none;
  }
  .visible-card {
    display: block;
  }
  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 25px;
  }
  .main-container {
    padding: 50px;
  }
  .count-filter-btn-card {
    display: flex;
    gap: 5px;
  }
  .product-count {
    font-family: "Simplon Norm";
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
    text-align: left;
    color: #252020;
  }
  .hide-button {
    background-color: transparent;
    color: #888792;
    font-family: "Adobe Caslon Pro";
    font-size: 12px;
    font-weight: 400;
    line-height: 40px;
    text-align: right;
    width: 114px;
    height: 40px;
    gap: 0px;
    opacity: 0px;
    margin-top: 18px;
    border: none;
  }

  .dropbox-button {
    background-color: transparent;
    width: 148px;
    height: 40px;
    border: none;
    color: #252020;
  }

  .dropbox-card {
    margin-right: 35px;
  }

  .filter-dropbox {
    border: none;
    list-style-type: none;
    /* overflow: hidden; */
    box-shadow: 0px 0px 7px 1px #a3aaaf33;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 0px;
    gap: 5px;
    width: 235px;
    position: absolute;
    background-color: #ffffff;
    margin-right: 10px;
  }
  .recomended {
    color: #252020;
  }
  .dropbox-item {
    font-family: "Simplon Norm";
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    text-align: right;
    margin-right: 15px;
    box-sizing: border-box;
  }
}
